
<article class="blog-post">
  <h2 class="blog-post-title"><%= article.title %></h2>
  <p class="blog-post-meta">
    <%= render 'article_detail', article: article %>
  </p>

  <p><%= truncate(article.body, length: 50) %></p> <!--truncate: serve para minimizar um texto(helper do rails) -->

  <p><%= link_to 'Continue reading...', article, class: "btn btn-outline-primary"  %></p>

</article>