<div class="p-4">
  <h4 class="fst-italic"><%= t 'articles.elsewhere' %></h4>

  <ol class="list-unstyled">
    <li><a href="https://github.com/victorelpidio" target= '_blank'>GitHub</a></li> <%# target= '_blank': abrir o link em outra aba %>
    <li><a href="https://twitter.com/Elpidio_vh" target= '_blank'>Twitter</a></li>
  </ol>
</div>