<footer class="blog-footer">
  <p>
    Projeto pessoal de um blog criado 
    <%= t 'app.word.by' %>
    Victor Henrique Nobre Elpidio - WebDeveloper Rails
  </p>
  <p>
    <a href="#"><%= t 'app.footer.back_to_top' %></a>
  </p>
</footer>